<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Weather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Weather.Properties.Settings>
            <setting name="cityID" serializeAs="String">
                <value>Baden-Baden (2953504)</value>
            </setting>
            <setting name="cityIDBookmarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Baden-Baden (2953504)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="apikey" serializeAs="String">
                <value />
            </setting>
            <setting name="setTempUnit" serializeAs="String">
                <value>Celsius</value>
            </setting>
            <setting name="setWindSpeedUnit" serializeAs="String">
                <value>m/s</value>
            </setting>
            <setting name="currentXml" serializeAs="String">
                <value />
            </setting>
            <setting name="forecastXml" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.0.1</value>
            </setting>
        </Weather.Properties.Settings>
    </userSettings>
</configuration>